[Unit]
Description=Run LumenLP snapshotter every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=10s
Persistent=true
Unit=lumenlp-snapshotter.service

[Install]
WantedBy=timers.target
