openapi: 3.0.3
info:
  title: LumenLP API
  description: |
    Stellar LP strategy toolchain — pools, positions, Copy LP queue, multi-DEX venue matrix.
    No custody; drafts and analytics only unless the user signs.
  version: 0.1.0
servers:
  - url: https://api.lumenlp.xyz
    description: Production
  - url: http://127.0.0.1:3301
    description: Local
paths:
  /health:
    get:
      summary: Liveness
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
  /v1/venues:
    get:
      summary: Multi-DEX support matrix (DexAdaptor registry)
      responses:
        "200":
          description: Venue rows with capabilities
          content:
            application/json:
              schema:
                type: object
                properties:
                  venues:
                    type: array
                    items:
                      $ref: "#/components/schemas/VenueRow"
                  note:
                    type: string
  /v1/indexer/status:
    get:
      summary: Indexer cursor and counts
      responses:
        "200":
          description: Indexer status
  /v1/pools:
    get:
      summary: Ranked pools
      parameters:
        - in: query
          name: q
          description: Search pool addresses, venue ids, token symbols, names, issuers, and domains.
          schema:
            type: string
        - in: query
          name: limit
          description: Page size. `page_size` is accepted as a compatibility alias.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 12
        - in: query
          name: page_size
          description: Compatibility alias for limit.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 12
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
        - in: query
          name: dex
          description: Filter by venue id, for example aquarius or soroswap_amm.
          schema:
            type: string
        - in: query
          name: venue
          description: Alias for dex.
          schema:
            type: string
        - in: query
          name: window
          description: Activity window used by metric filters and sorting.
          schema:
            type: string
            enum: [5m, 1h, 6h, 24h]
            default: 24h
        - in: query
          name: sort
          description: Server-side ranking metric.
          schema:
            type: string
            enum: [score, fee_tvl, fee, tx_count, event_count, activity_24h, net_liq_24h, claim_quote_24h, cadence_24h, liquidity]
            default: fee_tvl
        - in: query
          name: type
          description: Pool type filter.
          schema: { type: string }
        - in: query
          name: activity
          description: Activity filter.
          schema:
            type: string
            enum: [all, active, swaps, fresh]
        - in: query
          name: feeTier
          description: Fee tier in basis points.
          schema: { type: integer }
        - in: query
          name: tvl
          description: TVL bucket filter.
          schema:
            type: string
            enum: [all, micro, small, mid, large]
        - in: query
          name: feeTvl
          description: Fee/TVL bucket filter.
          schema:
            type: string
            enum: [all, high, mid, low, zero]
        - in: query
          name: compact
          description: Omit expensive score diagnostics from catalogue rows.
          schema:
            type: boolean
            default: false
        - in: query
          name: refresh
          description: Force a synchronous catalogue refresh. Prefer the normal stale-while-revalidate path for public clients.
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: Pool list
  /v1/pools/{address}:
    get:
      summary: Pool detail
      parameters:
        - $ref: "#/components/parameters/PoolAddress"
      responses:
        "200":
          description: Pool detail
  /v1/positions:
    get:
      summary: Positions for an account
      parameters:
        - in: query
          name: address
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Positions
          content:
            application/json:
              schema:
                type: object
                properties:
                  address: { type: string }
                  positions:
                    type: array
                    items:
                      $ref: "#/components/schemas/UserPosition"
  /v1/lp/profile:
    get:
      summary: LP leader profile (positions + 7d/30d liquidity and fee activity)
      description: |
        Scout Copy leaders across supported venues: open LP positions, current
        unclaimed fees, first/last activity, and indexed deposit/withdraw/claim
        windows (7d + 30d). When snapshot boundaries are available, each window
        also exposes accrued fees: claimed fee events plus the change in verified
        unclaimed position fees. These are observable signals, not full PnL.
      parameters:
        - in: query
          name: address
          required: true
          schema:
            type: string
            description: Stellar G… account to analyze
      responses:
        "200":
          description: Profile payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LpProfile"
        "400":
          description: Missing or invalid address
  /v1/lp/leaders:
    get:
      summary: Ranked LP actors by accrued fees (Copy scouting board)
      description: |
        Returns a server-paginated leaderboard. Accrued fees combine indexed
        claimed fees with the change in verified unclaimed position fees at
        the requested window boundary. Rows with unavailable venue coverage
        are not estimated. Results are observable activity signals, not a
        profitability or investment guarantee.
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
            default: 1
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 24
        - in: query
          name: window_days
          description: Activity and fee comparison window in days.
          schema:
            type: integer
            minimum: 1
            maximum: 90
            default: 30
        - in: query
          name: sort
          description: Ranking metric.
          schema:
            type: string
            enum: [fees, fee_cap, activity]
            default: fees
        - in: query
          name: refresh
          description: Force a synchronous catalogue refresh. Prefer the normal stale-while-revalidate path for public clients.
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: Leader board
          content:
            application/json:
              schema:
                type: object

                properties:
                  window_days: { type: integer }
                  pagination:
                    type: object
                    properties:
                      page: { type: integer }
                      limit: { type: integer }
                      total: { type: integer }
                      pages: { type: integer }
                  leaders:
                    type: array
                    items:
                      $ref: "#/components/schemas/LeaderBoardRow"
                  honesty: { type: string }
                  sort:
                    type: string
                    enum: [fees, fee_cap, activity]
                  fee_data:
                    type: object
                    description: Snapshot coverage and refresh metadata.
  /v1/auth/challenge:
    post:
      summary: Create a one-time wallet authentication challenge
      description: Returns a five-minute message for the requested Stellar account to sign according to SEP-53.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [address]
              properties:
                address: { type: string }
      responses:
        "200":
          description: One-time challenge created
          content:
            application/json:
              schema:
                type: object
                properties:
                  challenge_id: { type: string }
                  message: { type: string }
                  expires_at: { type: integer, format: int64 }
        "400":
          description: Invalid Stellar account address
        "429":
          description: Per-address or global challenge creation rate limit exceeded
  /v1/auth/verify:
    post:
      summary: Exchange a wallet signature for a short-lived API token
      description: Verifies the SEP-53 signature, consumes the challenge once, and returns a 15-minute opaque bearer token. Only the token hash is persisted.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [challenge_id, address, signed_message]
              properties:
                challenge_id: { type: string }
                address: { type: string }
                signed_message:
                  type: string
                  description: Base64-encoded Ed25519 signature returned by a SEP-53-compatible wallet.
      responses:
        "200":
          description: Authentication token issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  expires_at: { type: integer, format: int64 }
                  address: { type: string }
        "401":
          description: Challenge invalid, expired, already consumed, or signature invalid
  /v1/auth/revoke:
    post:
      summary: Revoke the current wallet authentication token
      description: Deletes the persisted hash for the supplied bearer token. Repeated revocation is safe and returns revoked false.
      security:
        - walletBearer: []
      responses:
        "200":
          description: Revocation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  revoked: { type: boolean }
        "401":
          description: Wallet bearer token is missing
  /v1/copy/recorder/status:
    get:
      summary: Recorder outbox status
      description: Read-only operational counters for canonical Copy LP events awaiting or being processed by a separately controlled recorder worker. The pending count includes leased processing rows.
      responses:
        "200":
          description: Recorder outbox counters
          content:
            application/json:
              schema:
                type: object
                properties:
                  health: { type: string, enum: [ok, degraded] }
                  pending: { type: integer }
                  submitted: { type: integer }
                  failed: { type: integer }
                  oldest_pending_at: { type: integer, nullable: true }
                  pending_age_seconds: { type: integer, nullable: true }
                  observed_at: { type: integer, format: int64 }
  /v1/copy/sessions:
    get:
      summary: List copy sessions for follower
      description: Requires a short-lived wallet bearer token for the requested follower.
      security:
        - walletBearer: []
      parameters:
        - in: query
          name: follower
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Sessions
        "401":
          description: Wallet token missing, invalid, or expired
    post:
      summary: Create copy session
      security:
        - walletBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCopySession"
      responses:
        "200":
          description: Session created
  /v1/copy/sessions/{id}:
    patch:
      summary: Update a follower-owned copy session
      description: Requires a short-lived wallet bearer token whose account matches the session owner and follower address.
      security:
        - walletBearer: []
      parameters:
        - $ref: "#/components/parameters/SessionId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCopySession"
      responses:
        "200":
          description: Session updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CopySession"
        "400":
          description: Invalid follower, status, coefficient, or policy update
        "403":
          description: Follower does not own the session
        "404":
          description: Session not found
        "409":
          description: Expired session cannot be resumed
  /v1/copy/sessions/{id}/ops:
    get:
      summary: List copy ops (reconciles on read)
      description: Requires a short-lived wallet bearer token for the session owner.
      security:
        - walletBearer: []
      parameters:
        - $ref: "#/components/parameters/SessionId"
        - in: query
          name: status
          schema:
            type: string
      responses:
        "200":
          description: Ops queue
          content:
            application/json:
              schema:
                type: object
                properties:
                  session_id: { type: string }
                  ops:
                    type: array
                    items:
                      $ref: "#/components/schemas/CopyOp"
        "401":
          description: Wallet token missing, invalid, or expired
        "404":
          description: Session not found
  /v1/copy/ops/{id}:
    get:
      summary: Get one copy op (scaled amounts)
      description: Requires a short-lived wallet bearer token for the operation's session owner.
      security:
        - walletBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Copy op
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CopyOp"
        "401":
          description: Wallet token missing, invalid, or expired
        "404":
          description: Not found
  /v1/copy/ops/{id}/prepare:
    post:
      summary: Validate and prepare a policy-scoped Copy operation
      description: Requires a short-lived wallet bearer token whose account matches the owner of the op's Copy session.
      security:
        - walletBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [follower_address]
              properties:
                follower_address: { type: string }
      responses:
        "200":
          description: Validated policy call description
        "401":
          description: Wallet token missing, invalid, or expired
        "403":
          description: Authenticated account does not own the Copy session
        "409":
          description: Session or operation is not executable in its current state
        "422":
          description: Operation is unsupported or lacks verified execution data
  /v1/copy/ops/{id}/status:
    post:
      summary: Update a user-reviewed Copy op status
      description: Requires a short-lived wallet bearer token whose account matches the owner of the op's Copy session.
      security:
        - walletBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CopyOpStatusUpdate"
      responses:
        "200":
          description: Copy op status updated
        "400":
          description: Unsupported status
        "403":
          description: Follower does not own the Copy session
        "404":
          description: Not found
        "409":
          description: Invalid status transition
components:
  securitySchemes:
    walletBearer:
      type: http
      scheme: bearer
      description: Opaque 15-minute token obtained from the SEP-53 challenge exchange.
  parameters:
    PoolAddress:
      name: address
      in: path
      required: true
      schema:
        type: string
    SessionId:
      name: id
      in: path
      required: true
      schema:
        type: string
  schemas:
    VenueRow:
      type: object
      properties:
        venue_id:
          type: string
          enum: [aquarius, sushi_v3, phoenix, soroswap_amm, comet, classic]
        name:
          type: string
        status:
          type: string
          enum: [production, scaffold, deferred]
        copy_execution_enabled:
          type: boolean
          description: True only when policy-controlled Copy LP execution is enabled for this venue.
        capabilities:
          type: object
          properties:
            list_pools: { type: boolean }
            positions: { type: boolean }
            liquidity_events: { type: boolean }
            quotes: { type: boolean }
            draft_ops: { type: boolean }
            deposit: { type: boolean }
            withdraw: { type: boolean }
            claim: { type: boolean }
            copy_scale: { type: boolean }
        notes:
          type: string
    CreateCopySession:
      type: object
      required: [follower_address, leader_address, coefficient]
      properties:
        follower_address: { type: string }
        contract_session_id: { type: integer, format: int32, minimum: 0, nullable: true }
        leader_address: { type: string }
        coefficient: { type: number }
        include_claims: { type: boolean }
        allowed_pools:
          type: array
          items: { type: string }
        max_per_op_quote_xlm: { type: number }
        max_daily_quote_xlm: { type: number }
        expires_at: { type: integer, format: int64, nullable: true }
    UpdateCopySession:
      type: object
      description: After contract_session_id is bound, coefficient, include_claims, and contract_session_id are immutable; create a new session to change the on-chain policy identity or terms.
      required: [follower_address]
      properties:
        follower_address: { type: string }
        status: { type: string, enum: [active, paused, stopped] }
        coefficient: { type: number, exclusiveMinimum: 0 }
        include_claims: { type: boolean }
        contract_session_id: { type: integer, format: int32, minimum: 0, nullable: true }
    CopySession:
      type: object
      properties:
        id: { type: string }
        contract_session_id: { type: integer, format: int32, minimum: 0, nullable: true }
        follower_address: { type: string }
        leader_address: { type: string }
        coefficient: { type: number }
        coefficient_ppm: { type: integer, minimum: 1, maximum: 10000000, nullable: true }
        status: { type: string, enum: [active, paused, stopped] }
        include_claims: { type: boolean }
        policy:
          type: object
          properties:
            allowed_pools:
              type: array
              items: { type: string }
            max_per_op_quote_xlm: { type: number }
            max_daily_quote_xlm: { type: number }
            expires_at: { type: integer, format: int64, nullable: true }
    CopyOp:
      type: object
      properties:
        id: { type: string }
        session_id: { type: string }
        source_event_id: { type: string }
        pool_address: { type: string }
        venue:
          type: string
          nullable: true
          enum: [aquarius, sushi, sushi_v3, phoenix, soroswap, soroswap_amm, comet]
        kind: { type: string }
        position_key: { type: string }
        leader_amounts: { nullable: true }
        scaled_amounts: { nullable: true }
        leader_quote_xlm: { type: number, nullable: true }
        scaled_quote_xlm: { type: number, nullable: true }
        status:
          type: string
          enum: [pending, drafted, skipped, signed, failed, insufficient, rejected]
        note: { type: string, nullable: true }
        created_at: { type: integer, format: int64 }
        updated_at: { type: integer, format: int64 }
    CopyOpStatusUpdate:
      type: object
      required: [follower_address, status]
      properties:
        follower_address: { type: string }
        status:
          type: string
          enum: [drafted, skipped, signed, failed, insufficient, rejected]
        note:
          type: string
          nullable: true
    LpProfile:
      type: object
      properties:
        address: { type: string }
        venue_id:
          type: string
          description: Profile scope. This endpoint may combine positions and activity across supported venues.
          enum: [multi_venue]
        first_activity_at: { type: integer, nullable: true }
        last_activity_at: { type: integer, nullable: true }
        portfolio:
          type: object
          properties:
            net_worth_xlm: { type: number }
            net_worth_usd: { type: number, nullable: true }
            fees_unclaimed_xlm: { type: number }
            fees_unclaimed_usd: { type: number, nullable: true }
            il_est_avg: { type: number, nullable: true }
            position_count: { type: integer }
            cl_in_range: { type: integer }
            cl_out_of_range: { type: integer }
        windows:
          type: object
          properties:
            "7d":
              $ref: "#/components/schemas/ActivityWindow"
            "30d":
              $ref: "#/components/schemas/ActivityWindow"
        activity_30d:
          $ref: "#/components/schemas/ActivityWindow"
        positions:
          type: array
          items:
            $ref: "#/components/schemas/UserPosition"
        honesty: { type: string }
        note: { type: string, nullable: true }
    UserPosition:
      type: object
      description: Verified LP position; entries that cannot be attributed to a concrete venue are omitted.
      properties:
        pool_address: { type: string }
        venue:
          type: string
          enum: [aquarius, sushi, phoenix, soroswap, comet]
        pool_type:
          type: string
          enum: [constant_product, stable, concentrated, weighted, unknown]
        tokens:
          type: array
          items: { type: string }
        fee_bps: { type: integer }
        amounts:
          type: array
          items: { type: number }
        value_quote: { type: number, nullable: true }
        fees_unclaimed_quote: { type: number, nullable: true }
        status: { type: string, enum: [ok] }
        shares: { type: integer, format: int128, nullable: true }
        cl_ranges:
          type: array
          nullable: true
          items:
            type: object
            properties:
              tick_lower: { type: integer }
              tick_upper: { type: integer }
              liquidity: { type: integer, format: int128 }
              tokens_owed_0: { type: integer, format: int128 }
              tokens_owed_1: { type: integer, format: int128 }
              in_range: { type: boolean }
        note: { type: string, nullable: true }
    ActivityWindow:
      type: object
      properties:
        event_count: { type: integer }
        deposit_count: { type: integer }
        withdraw_count: { type: integer }
        claim_count: { type: integer }
        deposit_quote_xlm: { type: number }
        withdraw_quote_xlm: { type: number }
        claim_quote_xlm: { type: number }
        claim_quote_usd: { type: number, nullable: true }
        unclaimed_fee_delta_quote_xlm: { type: number, nullable: true }
        unclaimed_fee_delta_quote_usd: { type: number, nullable: true }
        accrued_fee_quote_xlm: { type: number, nullable: true }
        accrued_fee_quote_usd: { type: number, nullable: true }
        distinct_pools: { type: integer }
        net_liquidity_quote_xlm: { type: number }
        avg_deposit_quote_xlm: { type: number, nullable: true }
    LeaderBoardRow:
      type: object
      properties:
        address: { type: string }
        claim_quote_xlm: { type: number }
        claim_quote_usd: { type: number, nullable: true }
        unclaimed_fee_quote_xlm: { type: number, nullable: true }
        unclaimed_fee_quote_usd: { type: number, nullable: true }
        unclaimed_fee_delta_quote_xlm: { type: number, nullable: true }
        unclaimed_fee_delta_quote_usd: { type: number, nullable: true }
        accrued_fee_quote_xlm: { type: number, nullable: true }
        accrued_fee_quote_usd: { type: number, nullable: true }
        fee_status: { type: string, enum: [verified, unavailable, not_verified] }
        deposit_quote_xlm: { type: number }
        claim_count: { type: integer }
        deposit_count: { type: integer }
        distinct_pools: { type: integer }
