openapi: 3.0.3
info:
  title: LumenLP API
  description: |
    Stellar LP strategy toolchain — pools, positions, Copy LP queue, multi-DEX venue matrix.
    No custody; drafts and analytics only unless the user signs.
  version: 0.1.0
servers:
  - url: https://api.lumenlp.xyz
    description: Production
  - url: http://127.0.0.1:3301
    description: Local
paths:
  /health:
    get:
      summary: Liveness
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
  /v1/venues:
    get:
      summary: Multi-DEX support matrix (DexAdaptor registry)
      responses:
        "200":
          description: Venue rows with capabilities
          content:
            application/json:
              schema:
                type: object
                properties:
                  venues:
                    type: array
                    items:
                      $ref: "#/components/schemas/VenueRow"
                  note:
                    type: string
  /v1/indexer/status:
    get:
      summary: Indexer cursor and counts
      responses:
        "200":
          description: Indexer status
  /v1/pools:
    get:
      summary: Ranked pools
      parameters:
        - in: query
          name: limit
          description: Page size. `page_size` is accepted as a compatibility alias.
          schema:
            type: integer
            minimum: 1
            maximum: 500
        - in: query
          name: page_size
          description: Compatibility alias for limit.
          schema:
            type: integer
            minimum: 1
            maximum: 500
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
        - in: query
          name: dex
          description: Filter by venue id, for example aquarius or soroswap_amm.
          schema:
            type: string
        - in: query
          name: venue
          description: Alias for dex.
          schema:
            type: string
      responses:
        "200":
          description: Pool list
  /v1/pools/{address}:
    get:
      summary: Pool detail
      parameters:
        - $ref: "#/components/parameters/PoolAddress"
      responses:
        "200":
          description: Pool detail
  /v1/positions:
    get:
      summary: Positions for an account
      parameters:
        - in: query
          name: address
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Positions
          content:
            application/json:
              schema:
                type: object
                properties:
                  address: { type: string }
                  positions:
                    type: array
                    items:
                      $ref: "#/components/schemas/UserPosition"
  /v1/lp/profile:
    get:
      summary: LP leader profile (positions + 7d/30d liquidity and fee activity)
      description: |
        Scout Copy leaders across supported venues: open LP positions, current
        unclaimed fees, first/last activity, and indexed deposit/withdraw/claim
        windows (7d + 30d). When snapshot boundaries are available, each window
        also exposes accrued fees: claimed fee events plus the change in verified
        unclaimed position fees. These are observable signals, not full PnL.
      parameters:
        - in: query
          name: address
          required: true
          schema:
            type: string
            description: Stellar G… account to analyze
      responses:
        "200":
          description: Profile payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LpProfile"
        "400":
          description: Missing or invalid address
  /v1/lp/leaders:
    get:
      summary: Ranked LP actors by accrued fees (Copy scouting board)
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            default: 25
        - in: query
          name: window_days
          schema:
            type: integer
            default: 30
      responses:
        "200":
          description: Leader board
          content:
            application/json:
              schema:
                type: object

                properties:
                  window_days: { type: integer }
                  leaders:
                    type: array
                    items:
                      $ref: "#/components/schemas/LeaderBoardRow"
                  honesty: { type: string }
  /v1/copy/recorder/status:
    get:
      summary: Recorder outbox status
      description: Read-only operational counters for canonical Copy LP events awaiting a separately controlled recorder worker.
      responses:
        "200":
          description: Recorder outbox counters
          content:
            application/json:
              schema:
                type: object
                properties:
                  pending: { type: integer }
                  submitted: { type: integer }
                  failed: { type: integer }
                  oldest_pending_at: { type: integer, nullable: true }
  /v1/copy/sessions:
    get:
      summary: List copy sessions for follower
      parameters:
        - in: query
          name: follower
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Sessions
    post:
      summary: Create copy session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCopySession"
      responses:
        "200":
          description: Session created
  /v1/copy/sessions/{id}/ops:
    get:
      summary: List copy ops (reconciles on read)
      parameters:
        - $ref: "#/components/parameters/SessionId"
        - in: query
          name: status
          schema:
            type: string
      responses:
        "200":
          description: Ops queue
          content:
            application/json:
              schema:
                type: object
                properties:
                  session_id: { type: string }
                  ops:
                    type: array
                    items:
                      $ref: "#/components/schemas/CopyOp"
  /v1/copy/ops/{id}:
    get:
      summary: Get one copy op (scaled amounts)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Copy op
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CopyOp"
        "404":
          description: Not found
components:
  parameters:
    PoolAddress:
      name: address
      in: path
      required: true
      schema:
        type: string
    SessionId:
      name: id
      in: path
      required: true
      schema:
        type: string
  schemas:
    VenueRow:
      type: object
      properties:
        venue_id:
          type: string
          enum: [aquarius, sushi_v3, phoenix, soroswap_amm, comet, classic]
        name:
          type: string
        status:
          type: string
          enum: [production, scaffold, deferred]
        copy_execution_enabled:
          type: boolean
          description: True only when policy-controlled Copy LP execution is enabled for this venue.
        capabilities:
          type: object
          properties:
            list_pools: { type: boolean }
            positions: { type: boolean }
            liquidity_events: { type: boolean }
            quotes: { type: boolean }
            draft_ops: { type: boolean }
            deposit: { type: boolean }
            withdraw: { type: boolean }
            claim: { type: boolean }
            copy_scale: { type: boolean }
        notes:
          type: string
    CreateCopySession:
      type: object
      required: [follower_address, leader_address, coefficient]
      properties:
        follower_address: { type: string }
        leader_address: { type: string }
        coefficient: { type: number }
        include_claims: { type: boolean }
        allowed_pools:
          type: array
          items: { type: string }
        max_per_op_quote_xlm: { type: number }
        max_daily_quote_xlm: { type: number }
        expires_at: { type: integer, format: int64, nullable: true }
    CopySession:
      type: object
      properties:
        id: { type: string }
        follower_address: { type: string }
        leader_address: { type: string }
        coefficient: { type: number }
        coefficient_ppm: { type: integer, minimum: 1, maximum: 10000000, nullable: true }
        status: { type: string, enum: [active, paused, stopped] }
        include_claims: { type: boolean }
        policy:
          type: object
          properties:
            allowed_pools:
              type: array
              items: { type: string }
            max_per_op_quote_xlm: { type: number }
            max_daily_quote_xlm: { type: number }
            expires_at: { type: integer, format: int64, nullable: true }
    CopyOp:
      type: object
      properties:
        id: { type: string }
        session_id: { type: string }
        source_event_id: { type: string }
        pool_address: { type: string }
        venue:
          type: string
          nullable: true
          enum: [aquarius, sushi, sushi_v3, phoenix, soroswap, soroswap_amm, comet]
        kind: { type: string }
        position_key: { type: string }
        leader_amounts: { nullable: true }
        scaled_amounts: { nullable: true }
        leader_quote_xlm: { type: number, nullable: true }
        scaled_quote_xlm: { type: number, nullable: true }
        status: { type: string }
        note: { type: string, nullable: true }
        created_at: { type: integer, format: int64 }
        updated_at: { type: integer, format: int64 }
    LpProfile:
      type: object
      properties:
        address: { type: string }
        venue_id:
          type: string
          description: Profile scope. This endpoint may combine positions and activity across supported venues.
          enum: [multi_venue]
        first_activity_at: { type: integer, nullable: true }
        last_activity_at: { type: integer, nullable: true }
        portfolio:
          type: object
          properties:
            net_worth_xlm: { type: number }
            net_worth_usd: { type: number, nullable: true }
            fees_unclaimed_xlm: { type: number }
            fees_unclaimed_usd: { type: number, nullable: true }
            il_est_avg: { type: number, nullable: true }
            position_count: { type: integer }
            cl_in_range: { type: integer }
            cl_out_of_range: { type: integer }
        windows:
          type: object
          properties:
            "7d":
              $ref: "#/components/schemas/ActivityWindow"
            "30d":
              $ref: "#/components/schemas/ActivityWindow"
        activity_30d:
          $ref: "#/components/schemas/ActivityWindow"
        positions:
          type: array
          items:
            $ref: "#/components/schemas/UserPosition"
        honesty: { type: string }
        note: { type: string, nullable: true }
    UserPosition:
      type: object
      description: Verified LP position; entries that cannot be attributed to a concrete venue are omitted.
      properties:
        pool_address: { type: string }
        venue:
          type: string
          enum: [aquarius, sushi, phoenix, soroswap, comet]
        pool_type:
          type: string
          enum: [constant_product, stable, concentrated, weighted, unknown]
        tokens:
          type: array
          items: { type: string }
        fee_bps: { type: integer }
        amounts:
          type: array
          items: { type: number }
        value_quote: { type: number, nullable: true }
        fees_unclaimed_quote: { type: number, nullable: true }
        status: { type: string, enum: [ok] }
        shares: { type: integer, format: int128, nullable: true }
        cl_ranges:
          type: array
          nullable: true
          items:
            type: object
            properties:
              tick_lower: { type: integer }
              tick_upper: { type: integer }
              liquidity: { type: integer, format: int128 }
              tokens_owed_0: { type: integer, format: int128 }
              tokens_owed_1: { type: integer, format: int128 }
              in_range: { type: boolean }
        note: { type: string, nullable: true }
    ActivityWindow:
      type: object
      properties:
        event_count: { type: integer }
        deposit_count: { type: integer }
        withdraw_count: { type: integer }
        claim_count: { type: integer }
        deposit_quote_xlm: { type: number }
        withdraw_quote_xlm: { type: number }
        claim_quote_xlm: { type: number }
        claim_quote_usd: { type: number, nullable: true }
        unclaimed_fee_delta_quote_xlm: { type: number, nullable: true }
        unclaimed_fee_delta_quote_usd: { type: number, nullable: true }
        accrued_fee_quote_xlm: { type: number, nullable: true }
        accrued_fee_quote_usd: { type: number, nullable: true }
        distinct_pools: { type: integer }
        net_liquidity_quote_xlm: { type: number }
        avg_deposit_quote_xlm: { type: number, nullable: true }
    LeaderBoardRow:
      type: object
      properties:
        address: { type: string }
        claim_quote_xlm: { type: number }
        claim_quote_usd: { type: number, nullable: true }
        unclaimed_fee_quote_xlm: { type: number, nullable: true }
        unclaimed_fee_quote_usd: { type: number, nullable: true }
        unclaimed_fee_delta_quote_xlm: { type: number, nullable: true }
        unclaimed_fee_delta_quote_usd: { type: number, nullable: true }
        accrued_fee_quote_xlm: { type: number, nullable: true }
        accrued_fee_quote_usd: { type: number, nullable: true }
        fee_status: { type: string, enum: [verified, unavailable, not_verified] }
        deposit_quote_xlm: { type: number }
        claim_count: { type: integer }
        deposit_count: { type: integer }
        distinct_pools: { type: integer }
